# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment variables (САМОЕ ВАЖНОЕ: не слей свои секреты!)
.env

# Database (не сливай свою локальную БД с личными задачами)
*.db
*.sqlite3

# IDE settings
.idea/
.vscode/
*.swp
collect_code.py